body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

.header {
    display: flex;
    flex-direction: column;
}

.header_logo {
    display: flex;
    margin: 15px 0;
}

.logo {
    width: 58%;
    text-align: end;
}

.logo_img {
    height: 30px;
}

.logo_img:hover {
    transition: 1s;
    opacity: 50%;
}

.call {
    width: 42%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.call_number {
    text-decoration: none;
    font-size: 15px;
    color: #000;
    font-weight: 600;
}

.call_number:hover {
    transition: 1s;
    color: rgb(213, 21, 31);
}

.call_text {
    font-size: 13px;
    color: #000;
    font-weight: 600;
}

.call_text:hover {
    transition: 1s;
    color: rgb(213, 21, 31);
}

.nav {
    display: flex;
    justify-content: center;
    margin: 15px 0 30px 0;
}

.nav_item1 a {
    text-decoration: none;
    font-size: 20px;
    color: #000;
    margin-left: 55px;
    font-weight: 600;
}

.nav_item1 a:hover {
    transition: 1s;
    color: rgb(213, 21, 31);
}

.nav_border {
    font-size: 19px;
    font-weight: 600;
    margin: 0 4px;
}

.nav_item2 a {
    text-decoration: none;
    font-size: 20px;
    color: #000;
    margin-right: 55px;
    font-weight: 600;
}

.nav_item2 a:hover {
    transition: 1s;
    color: rgb(213, 21, 31);
}

.shopping {
    padding: 35px 0 0 70px;
    min-height: 650px;
    background-image: url("images/beach.jpg");
    background-repeat: round;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
}

.shopping p {
    color: #e27812;
    font-size: 34px;
}

.shopping_discount {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
}

.shopping_discount a {
    font-size: 15px;
    color: #454545;
    text-decoration: none;
    background-color: #fff;
    padding: 25px 50px;
    border-radius: 10px;
    font-weight: 600;
}

.shopping_discount a:hover {
    transition: 1s;
    color: coral;
    background-color: aquamarine;
}

.shopping_discount p {
    font-size: 15px;
    font-weight: 600;
    color: #ee1e1e;
    text-align: center;
}

.shimmer {
    position: absolute;
    top: 360px;
    left: 365px;
    z-index: 2;
}

.shimmer img {
    height: 530px;
    width: 530px;
}

.girl {
    position: absolute;
    top: 135px;
    right: 40px;
}

.girl img {
    height: 789px;
    width: 575px;
    rotate: -6deg;
}

.hiding {
    height: 130px;
    position: relative;
    z-index: 1;
    background-color: #fff;
}

.application_result {
    min-height: 460px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-content: center;
}

.application_result img {
    height: 306px;
    width: 622px;
    border-radius: 17px;
}

.application_result p {
    text-align: center;
    font-size: 29px;
    font-weight: 700;
}

.result_info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;

}

.result_info_item {
    font-size: 20px;
    color: #181818;
    font-weight: 700;
    min-height: 144px;
    width: 384px;
    margin: 10px;
    border: 1px solid #b5b7b9;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.presentation {
    display: flex;
    justify-content: center;
    padding: 70px;
}

.presentation img {
    height: 396px;
    width: 542px;
    border-radius: 15px;
}

.function_product_info {
    text-align: center;
    margin: 80px 450px;
}

.function_product_show {
    text-align: center;
}

.function_product_show img {
    height: 320px;
    width: 820px;
}

.function_product_show_inventory {
    display: flex;
    justify-content: center;
}

.function_product_show_inventory p {
    margin: 0px 130px;
    font-size: 33px;
    font-weight: 700;
    color: #E8e8e8;
}

.wrapper_basket{
    display: flex;
    justify-content: space-evenly;
    margin: 75px 0 60px;
}

.hero-slider {
    margin: 0 auto;
    width: 300px;
    height: 314px;

}

.hero-slider img {
    width: 300px;
    height: 314px;
}

.next img{
    position: absolute;
    top: 150px;
    right: 0;
    height: 45px;
    width: 35px;
}

.prev img{
    position: absolute;
    top: 150px;
    height: 45px;
    width: 35px;
}

.wrapper_carousel{
    width: 560px;
    height: 314px;
}

.owl-dots{
    width: 100%;
    height: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.owl-dot img{
    cursor: pointer;
    margin: 0 auto;
    height: 60px;
    width: 60px;
}

.owl-dot{
    height: 60px;
    width: 60px;
    display: block;
}

.owl-dot.active{
    border: 2px solid rgba(219, 212, 212, 0.738);
}

.basket{
    display: flex;
    flex-direction: column;
}

.basket p{
    margin: 15px 0;
    font-size: 20px;
    color: #3d3d3d;
    font-weight: 600;
}

.color_icon{
    display: flex;
}

.color_icon div{
    height: 40px;
    width: 40px;
    margin: 0 5px 0 0;
    border-radius: 50%;
    cursor: pointer;
}

.color_bali{
    background-color: #694606;
}

.color_tropical{
    background-color: #cc985e;
}

.color_honey{
    background-color: #dbc493;
}

.color_rose{
    background-color: #f5d6cc;
}

.color_max_shine{
    background-color: #fcf2e0;
}

.color_icon div:active{
    box-shadow: 0px 0px 0px 4px #fc0 !important;
}

.scent_selection{
    width: 100%;
    border: 1px #ddd solid;
    background: #f8f8f8;
    color: #000;
    box-sizing: border-box;
    cursor: pointer;
    padding: 5px 30px 5px 10px;
    border-radius: 5px;
    font-size: 18px;
    margin-bottom: 15px;
}

button{
    cursor: pointer;
    padding: 15px;
    border: 0;
    color: rgb(255, 255, 255);
    background-color: rgb(109, 186, 109);
    border-radius: 5px;
    font-weight: 700;
    box-shadow: rgb(0 0 0 / 30%) 0px 0px 0px 0px;
}

button:hover{
    background-color: #17751e;
}